#welcomeMessage {
    text-align: center;
}

.productGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
  
.productCard {
    max-width: 250px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    img {
        width: 100%;
        height: auto;
        padding-bottom: 10px;
    }

    h3 {
        font-size: 20px;
        padding-bottom: 10px;
        margin: 0;
    }

    p {
        font-size: 16px;
        padding-bottom: 10px;
        margin: 0;
    }

    .quantity {
        padding-top: 10px;
        display: flex;

        input {
            margin-top: 5px;
            width: 50px;
            text-align: center;
            font-weight: bold;
            height: 28px;
        }

        button {
            font-size: 20px;
        }

        .addToCart {
            font-size: 14px;
            margin-left: 10px;
        }
    }
}

button {
    cursor: pointer;
    padding: 5px 10px;
    background-color: darkblue;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    font-size: 14px;

    &:hover {
        background-color: rgb(53, 53, 175);
    }
}

button:disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
  
    &:hover {
      background-color: gray;
    }
}

input {
    font-size: 16px;
}