#welcomeMessage {
    text-align: center;
}

header {
    height: 150px;

    h1 {
        text-align: center;
    }

    .userForm {
        float: right;
    
        .rightAlligned {
            float: right;
        }
    }
}

.productGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
  
.productCard {
    max-width: 250px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    img {
        width: 100%;
        height: auto;
        padding-bottom: 10px;
    }

    h3 {
        font-size: 20px;
        padding-bottom: 10px;
        margin: 0;
    }

    p {
        font-size: 16px;
        padding-bottom: 10px;
        margin: 0;
    }

    .quantity {
        padding-top: 10px;
        display: flex;

        input {
            margin-top: 5px;
            width: 50px;
            text-align: center;
            font-weight: bold;
            height: 28px;
        }

        button {
            font-size: 20px;
        }

        .addToCart {
            font-size: 14px;
            margin-left: 10px;
        }
    }
}

button {
    cursor: pointer;
    padding: 5px 10px;
    background-color: darkblue;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    font-size: 14px;

    &:hover {
        background-color: rgb(53, 53, 175);
    }

    &:disabled {
        background-color: gray;
        color: white;
        cursor: not-allowed;

        &:hover {
            background-color: gray;
        }
    }
}

input {
    font-size: 16px;
}

.categoryContainer {
    display: flex;
    justify-content: center;
    font-size: 20px;
    gap: 15px;
    margin: 20px 0;

    a {
        color: darkblue;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.cartSymbol {
    position: fixed;
    top: 10px;
    right: 10px;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    background-color: white;
    cursor: pointer;
  
    .cartCount {
        color: green;
        font-size: 20px;
        margin-left: 5px;
    }
}

.cartCountAnimation {
    animation-name: updatedCount;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    @keyframes updatedCount {
        0% {
             font-size: 20px;
        }
        50% {
            font-size: 25px;
        }
        100% {
            font-size: 20px;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
  
.cartPopup, .confirmationPopup, .orderHistoryPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 50px;
    max-width: 90vw;
    min-width: 40vw;
    min-height: 60vh;
    border-radius: 10px;
    z-index: 2;

    .closeButton {
        position: absolute;
        top: 10px;
        right: 10px;

        &:hover {
            background-color: rgb(233, 0, 0);
        }
    }

    .cartItemsContainer, .orders {
        max-height: calc(60vh - 30px);
        overflow-y: auto;
    }

    .cartPopupItem {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .cartPopupImage {
            width: 100px;
            height: auto;
            margin-right: 20px;
        }

        .cartPopupDetails {
            display: flex;
            flex-direction: column;
        }
          
        .cartPopupName {
            font-weight: bold;
            margin-bottom: 5px;
        }
          
        .cartPopupPrice {
            font-size: 0.9rem;
        }
    }

    .errorMessage {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color: red;
    }
}

.confirmationMessage {
    text-align: center;

    #heart {
        color: red;
    }
}

footer {
    text-align: center;
}