#welcomeMessage {
  text-align: center;
}

header {
  height: 150px;
}
header h1 {
  text-align: center;
}
header .userForm {
  float: right;
}
header .userForm .rightAlligned {
  float: right;
}

.productGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productCard {
  max-width: 250px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.productCard img {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}
.productCard h3 {
  font-size: 20px;
  padding-bottom: 10px;
  margin: 0;
}
.productCard p {
  font-size: 16px;
  padding-bottom: 10px;
  margin: 0;
}
.productCard .quantity {
  padding-top: 10px;
  display: flex;
}
.productCard .quantity input {
  margin-top: 5px;
  width: 50px;
  text-align: center;
  font-weight: bold;
  height: 28px;
}
.productCard .quantity button {
  font-size: 20px;
}
.productCard .quantity .addToCart {
  font-size: 14px;
  margin-left: 10px;
}

button {
  cursor: pointer;
  padding: 5px 10px;
  background-color: darkblue;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  font-size: 14px;
}
button:hover {
  background-color: rgb(53, 53, 175);
}
button:disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}
button:disabled:hover {
  background-color: gray;
}

input {
  font-size: 16px;
}

.categoryContainer {
  display: flex;
  justify-content: center;
  font-size: 20px;
  gap: 15px;
  margin: 20px 0;
}
.categoryContainer a {
  color: darkblue;
  text-decoration: none;
}
.categoryContainer a:hover {
  text-decoration: underline;
}

.cartSymbol {
  position: fixed;
  top: 10px;
  right: 10px;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
  background-color: white;
  cursor: pointer;
}
.cartSymbol .cartCount {
  color: green;
  font-size: 20px;
  margin-left: 5px;
}

.cartCountAnimation {
  animation-name: updatedCount;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes updatedCount {
  0% {
    font-size: 20px;
  }
  50% {
    font-size: 25px;
  }
  100% {
    font-size: 20px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.cartPopup, .confirmationPopup, .orderHistoryPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 50px;
  max-width: 90vw;
  min-width: 40vw;
  min-height: 60vh;
  border-radius: 10px;
  z-index: 2;
}
.cartPopup .closeButton, .confirmationPopup .closeButton, .orderHistoryPopup .closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
}
.cartPopup .closeButton:hover, .confirmationPopup .closeButton:hover, .orderHistoryPopup .closeButton:hover {
  background-color: rgb(233, 0, 0);
}
.cartPopup .cartItemsContainer, .cartPopup .orders, .confirmationPopup .cartItemsContainer, .confirmationPopup .orders, .orderHistoryPopup .cartItemsContainer, .orderHistoryPopup .orders {
  max-height: calc(60vh - 30px);
  overflow-y: auto;
}
.cartPopup .cartPopupItem, .confirmationPopup .cartPopupItem, .orderHistoryPopup .cartPopupItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.cartPopup .cartPopupItem .cartPopupImage, .confirmationPopup .cartPopupItem .cartPopupImage, .orderHistoryPopup .cartPopupItem .cartPopupImage {
  width: 100px;
  height: auto;
  margin-right: 20px;
}
.cartPopup .cartPopupItem .cartPopupDetails, .confirmationPopup .cartPopupItem .cartPopupDetails, .orderHistoryPopup .cartPopupItem .cartPopupDetails {
  display: flex;
  flex-direction: column;
}
.cartPopup .cartPopupItem .cartPopupName, .confirmationPopup .cartPopupItem .cartPopupName, .orderHistoryPopup .cartPopupItem .cartPopupName {
  font-weight: bold;
  margin-bottom: 5px;
}
.cartPopup .cartPopupItem .cartPopupPrice, .confirmationPopup .cartPopupItem .cartPopupPrice, .orderHistoryPopup .cartPopupItem .cartPopupPrice {
  font-size: 0.9rem;
}
.cartPopup .errorMessage, .confirmationPopup .errorMessage, .orderHistoryPopup .errorMessage {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: red;
}

.confirmationMessage {
  text-align: center;
}
.confirmationMessage #heart {
  color: red;
}

footer {
  text-align: center;
}/*# sourceMappingURL=style.css.map */